body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

h2,
p {
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  min-height: 100vh;
}

/* Backgrounds */
.picture_1 {
  background: url("./img/bg_1.jpg") center / cover;
}
.picture_2 {
  background: url("./img/bg_2.jpg") center / cover;
}
.picture_3 {
  background: url("./img/bg_3.jpg") center / cover;
}
.picture_4 {
  background: url("./img/bg_4.jpg") center / cover;
}
.picture_5 {
  background: url("./img/bg_5.jpg") center / cover;
}

.gallery-item {
  border-right: 5px solid #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s cubic-bezier(0.8, 1.48, 0.96, 0.92);
}

.gallery-item:last-child {
  border-right: 0;
}

.open {
  flex: 4;
}

.gallery-item > * {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ececec;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition-delay: 0.2s;
}
.gallery-item h2 {
  font-size: 25px;
  padding: 0 5px;
  font-weight: 700;
}
.gallery-item p {
  font-size: 18px;
}
.gallery-item > *:first-child {
  transform: translateY(-100%);
}
.open-item *:first-child {
  transform: translateY(0);
}

.gallery-item > *:last-child {
  transform: translateY(100%);
}

.open-item > *:last-child {
  transform: translateY(0);
}

.open-item h2 {
  font-size: 36px;
}

.open-item p {
  font-size: 24px;
}
