body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background-image: url("bg.gif");
  background-size: cover;
}
:root {
  --letter-spacing: 0px;
  --blur: 0px;
  --color: #fff;
}
h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 200px;
  font-size: 65px;
  letter-spacing: var(--letter-spacing);
  filter: blur(var(--blur));
  color: var(--color);
  text-shadow: 0.1em 0.15em rgba(0, 0, 0, 0.5);
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 200px;
  text-align: center;
}

label {
  font-size: 25px;
  margin-right: 6px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 800px;
}
input {
  background: #fff;
  right: 200px;
  position: absolute;
}
input[name="letter-spacing"],
input[name="blur"] {
  -webkit-appearance: none;
  height: 6px;
  background: #fff;
  padding: 0 6px;
  border-radius: 6px;
}
input:focus {
  outline: none;
}
input[name="letter-spacing"]::-webkit-slider-thumb,
input[name="blur"]::-webkit-slider-thumb {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;
  background: rgb(67, 85, 87);
}
input[name="letter-spacing"]::-webkit-slider-thumb:hover,
input[name="blur"]::-webkit-slider-thumb:hover {
  background: rgb(192, 192, 192);
}
input[name="letter-spacing"]::-webkit-slider-thumb:active,
input[name="blur"]::-webkit-slider-thumb:active {
  background: rgb(255, 255, 255);
}
